/* /Components/LetterCard.razor.rz.scp.css */
.letter-card[b-71uw6j3csx] {
    padding: 5ch;
    cursor: pointer;
}

.content[b-71uw6j3csx] {
    font-family: noto-serif, source-serif-4-display, georgia, times, serif;
}
/* /Pages/Index.razor.rz.scp.css */
footer[b-mbytkhteaq] {
    background: #F0F0F0;
    padding: 5ch 15ch;
}

    footer a[b-mbytkhteaq] {
        text-decoration: none;
        color: #616161;
        transition: color 0.3s;
    }

        footer a:hover[b-mbytkhteaq] {
            text-decoration: underline;
            color: #181818
        }

    footer .copyright[b-mbytkhteaq] {
        display: flex;
        justify-content: space-around;
    }

@media (max-width: 600px) {
    footer .copyright[b-mbytkhteaq] {
        display: block;
        text-align: center;
    }
}

@media (max-width: 935px) {
    footer[b-mbytkhteaq] {
        padding: 5ch;
    }
}
/* /Pages/PublicLetters.razor.rz.scp.css */
header[b-vtyytl20g4] {
    background: #594AE2;
    padding: 5ch 20ch;
}

@media (max-width: 750px) {
    header[b-vtyytl20g4] {
        padding: 5ch;
    }
}

@media (max-width: 600px) {
    header[b-vtyytl20g4] {
        padding: 3ch;
    }
}

.letter-card-holder:hover[b-vtyytl20g4] {
    outline: 2px solid rgba(89, 74, 226,0.4);
    box-shadow: 6px 0px rgb(116 103 239 / 20%);
}
/* /Pages/ViewLetter.razor.rz.scp.css */
.content[b-ix4gca4dvx] {
    font-family: noto-serif, source-serif-4-display, georgia, times, serif;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.mudblazor-logo[b-lq71q7k36c] {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.main-content[b-lq71q7k36c] {
    padding-top: 64px;
}

@media (max-width: 600px) {
    .main-content[b-lq71q7k36c] {
        padding-top: 48px;
    }
}
