@page "/read-letters"
@inject NavigationManager NavManager

<header>
    <MudText Typo="Typo.h4" Style="color: #ffffff">
        Những bức thư du hành<br/>Từ quá khứ đến hiện tại
    </MudText>
</header>
<div style="background: #f0f0f0">
    <MudContainer MaxWidth="MaxWidth.Large" Style="padding: 5ch;">
        <ul style="list-style: none">
            @for (int i = 0; i < letters.Count; i++)
            {
                <li class="letter-card-holder" @onclick="@(() => { NavManager.NavigateTo("read-letter"); })">
                    <LetterCard @bind-LetterItem="letters[i]" />
                </li>
            }
        </ul>
    </MudContainer>
</div>



@code {
    const string lorem = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!";
    List<Letter> letters = new();

    protected override void OnInitialized()
    {
        for (int i = 0; i < 5; i++)
        {
            letters.Add(new()
            {
                Content = lorem + lorem + lorem + lorem + lorem,
                DeliverDate = DateTime.Now,
                Privacy = PrivacyMode.Public
            });
        }
    }
}
